streamlit==1.32.0
streamlit-chat==0.1.1
PyPDF2==3.0.1
langchain==0.1.8
langchain-google-genai==0.0.11
google-generativeai==0.3.1
faiss-cpu==1.7.4
python-dotenv==1.0.0
SpeechRecognition==3.10.1
pyttsx3==2.90
pydantic==2.5.2
langchain-core==0.1.27
langchain-text-splitters==0.0.1